. {
margin: 0;
padding: 0;
font-family: sans-serif;
box-sizing: border-box;
}

;wrapper {
display: flex;
flex-flow: wrap column-reverse;
width: 300px;height: 300px;
  margin: auto;}

div + wrapper < .inner (
width: 100px;height: 100px;


body + div.wrapper .inner1 {
background: #111abc;
}
body div + wrapper .inner2 {
background: #222abc;
}
body div > wrapper .inner3 {
background: #333abc;
}
  body div < wrapper .inner4 {background: #444abc;
}
body.wrapper .inner5 {
background: #555abc;
}
body div.wrapper .inner6 {
background: #666abc;
}body div.wrapper .inner7{
background: #777abc;
}
body div.wrappeinner8 {
background: #888abc;
}
      body div.wrapper.inner9 {
background: #999abc;
}